#page-landing {
    padding: 2rem;
	width: 100vw;
	height: 100vh;
    background: linear-gradient(329.54deg,#f59db8 0%, #f76079 100%);
	display: flex;
	justify-content: center;
}

#page-landing .content-wrapper {
	position: relative;
	width: 100%;
	max-width: 1100px;
	height: 100%;
	max-height: 680px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
	
    background: url('../../Assets/atHome.png') no-repeat 100% bottom;
    background-size: 700px;
}

#page-landing .content-wrapper main {
	max-width: 350px;
}

#page-landing .content-wrapper main h1 {
	font-size: 76px;
	font-weight: 900;
	line-height: 78px;
}

#page-landing .content-wrapper main p {
	margin-top: 40px;
	font-size: 24px;
	line-height: 34px;
}

.content-wrapper__button {
	display: flex;
	flex: wrap;
	justify-content: space-around;
	margin-bottom: 120px;

}


.enter-app {
	position: relative;
	width: 100px;
	height: 40px;
	
	background: #f84b68;
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s;
	box-shadow: 2px 2px 2px rgb(248, 184, 203);

	cursor: pointer;
	font-size: 16px;
    color:  rgb(233, 230, 230);
	text-shadow: 0.1em 0.1em 0.1em rgba(48, 46, 46, 0.774);
	text-decoration: none;
}

.enter-app:hover {
	background: #96feff;
}