#container-busca {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container-busca__titulo{
    font-size: 30px;
    color:  rgb(233, 230, 230);
    text-shadow: 0.1em 0.1em 0.1em #f84b68;
}

.container-busca__input{
    margin-left: 10px;
    border-radius: 15px;
    width: 400px;
    height:30px;
    text-align: center;
    border: 0;
    font-weight: lighter;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    height: 550px;
    margin: 30px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.15);
}

.card h3{
    color:rgb(66, 64, 64);
    margin-bottom: 3px;
}

.card img{
    border-radius: 7px;
    margin-top: 10px;
    max-width: 100%;
    height: 300px;
}

.card p{
    margin-top: 10px;
    color:rgb(66, 64, 64);
    font-weight: 50;
    text-align: justify;
    font-size: 80%;
}