#page-sobre {
    margin-top: 80px;
    width: 900px;
    padding: 40px;
    height: 500px;
    margin-left: 300px;
    border-radius: 7px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.15);
}

.container-sobre{
    display: flex;
    
}


.sobre__foto {
    margin: 10px;
    height:300px;  
    border-radius: 7px; 
}

.sobre__paragrafo {
    font-weight: 50;
    font-size: 100%;
    color:rgb(32, 29, 29);
    margin: 10px;
    text-align: justify;    
}

.container-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.sobre__links{
    color: rgb(32, 29, 29);
    text-decoration: none;
}
