*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    color: rgba(255, 255, 255, 0.911);
    background: #f7f2f3;
}

body, input, button, textarea {
    font: 600 18px Nunito, sans-serif
}